@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: url(ArchivoBlack-Regular.ttf);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.ttf);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /* font-size: 24px;  Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  width: 100%;
  height: 5vh;
  background: var(--theme-back);
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: 10;
  margin: 0px;
  padding: 0px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

#toast-cont {
	display: flex;
	flex-direction: column-reverse;
	gap: 8px;
	z-index: 1000;
	position: fixed;
	top: calc(64px + 8px);
	right: 8px;
	align-items: flex-end;
}

.toast {
	display: flex;
	width: fit-content;
	gap: 8px;
	font-family: 'Archivo Black';
	font-size: 18px;
	position: relative;
/*	right: -50px;*/
	background: var(--theme-accent1-pos);
	border-radius: 32px;
	padding: 15px;
	align-items: center;
}

.toast-text {
	margin: 0px;
}

.toast-button {
	width: 32px;
	height: 32px;
	background: none;
	border: none;
	border-radius: 50%;
	font-weight: bolder;
	font-size: 24px;
	color: white;
/*	background-image: url(assets/x.png);*/
/*	background-size: cover;*/
/*	background-position: center;*/
}

.toast-image {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-size: cover;
	object-position: center;
}

#fullscreen-button {
	position: absolute;
	z-index: 3000;
	width: 100%;
	height: 100%;
	border: none;
	background: #000;
	opacity: 0.5;
	color: white;
}

#loading-symbol {
	position: absolute;
	z-index: 2001;
	animation-name: spin;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	font-size: 128px;
}

@keyframes spin {
		from {
				transform:rotate(0deg);
		}
		to {
				transform:rotate(360deg);
		}
}

#loading {
	z-index: 2000;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main {
	width: 100%;
	--this_height: 392.833px;
	--that_height: calc(var(--this_height) - 15px);
	height: calc(100% - (64px + 64px) - 15px);
	top: calc(64px + 15px);
	position: absolute;
}

/*#main::-webkit-scrollbar {
  display: none;
}*/

/* width */
#main::-webkit-scrollbar {
/*  width: 10px;*/
/*  height: calc(100% - 128px);*/
  border-radius: 10px;
}

/* Track */
#main::-webkit-scrollbar-track {
  background: var(--theme-back);
}
 
/* Handle */
#main::-webkit-scrollbar-thumb {
  background: var(--theme-back-pos2); 
  border-radius: 10px;
}

#main::-webkit-scrollbar-corner {
  background: var(--theme-back);
  border-radius: 10px;
}

#top-bar {
	width: 100%;
	height: 64px;
	position: absolute;
	top: 0px;
	background: var(--theme-back-pos);
}

#top-bar > *[current] {
	color: var(--theme-accent1-pos);
	background: var(--theme-back);
}

#top-bar > * {
	color: var(--theme-back-pos2);
	font-size: 64px !important;
	background: none;
	border: none;
	border-radius: 15px 15px 0px 0px;
}

#settings-button {
	position: absolute;
	right: 0px;
}

#play-bar {
	transition-property: height;
	transition-duration: 200ms;

	width: calc(100% - 32px);
	height: calc(64px - 32px);
	position: absolute;
	--pos: 0px;
	bottom: 0px;
	padding: 16px;
	background: var(--theme-back-pos);
	border-radius: 24px 24px 0px 0px;
	display: flex;
	align-items: center;
}

#play-bar[bottom_view] > p {
  position: absolute;
  width: calc(50% - 30px - 15px);
  left: 0;
  bottom: calc(0px + 20% + 15px);
}

#play-bar > p {
	font-family: "Archivo Black";
	font-size: 22px;
	margin-left: 15px;
}

#play-bar-author {
	opacity: 0.5;
}

#controls {
	transition-duration: 200ms;
	position: absolute;
	left: inherit;
	right: 15px;
	top: inherit;
}

#controls[bottom_view] {
	transition-property: left, right, top;
  left: calc(25% - 30px - 136px);
  right: inherit;
  top: calc(80% + 24px);
}

#controls > button {
	color: var(--theme-accent1-pos);
	font-size: 48px !important; 
	background: none;
	border: none;
}

#playhead {
	position: absolute;
	width: calc(50% - 30px - 15px);
  top: 80%;
  left: 15px;
}

.track-elem[current] {
	transition-property: --fade-color, color;
	--fade-color: var(--theme-accent1-neg);
	color: var(--theme-accent2-pos);
}

.track-elem {
	transition-duration: 150ms;
	--fade-color: var(--theme-back);
	color: var(--text_color);
  background-blend-mode: normal;
	background-size: contain;
	border-radius: 8px;
	background-size: cover;
	background-position: center;
}

.track-elem[bottom] {
	width: 100%;
	height: 100%;
}

.track-elem[bottom] > .visualizer {
	width: 100%;
	height: 100%;
}

.track-text {
	font-family: "Archivo Black";
	margin-left: 5px;
}

.track-author {
	opacity: 0.75;
	margin: 0px;
}


.track-service {
	margin-left: 5px;
	width: 24px;
	height: 24px;
}

.service-author-cont {
	display: flex;
	align-items: center;
	gap: 8px;
}

.visualizer {
  width: var(--that_height);
  height: var(--that_height);
  position: absolute;
  top: 0px;
  opacity: 0.6;
  border-radius: inherit;
}

.playlist-elem {
	background-color: #252525;
}

.playlist-title {
	font-family: "Archivo Black";
	font-size: 48px;
	margin-left: 5px;
}

.add-playlist-button {
	background-color: #252525;
	border-radius: 8px;
  background-image: url(https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/svg/2795.svg);
  background-size: contain;
  /* filter: invert(1); */
  background-blend-mode: luminosity;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.tag-elem {
	background-color: #252525;
}

.tag-title {
	font-family: "Archivo Black";
	font-size: 48px;
	margin-left: 5px;
}

.add-tag-button {
	background-color: #252525;
	border-radius: 8px;
  background-image: url(https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/svg/2795.svg);
  background-size: contain;
  /* filter: invert(1); */
  background-blend-mode: luminosity;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.tag-button {
	color: var(--text-color);
	font-size: 48px;
	background: var(--theme-back-pos);
	border: none;
	border-radius: 32px;
}

.queue-like {
	position: absolute;
	width: 50%;
	height: calc(100% - 32px - 15px);
	border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  right: 15px;
  bottom: 0px;
  padding-bottom: 15px;
}

#playing-track-cont {
	width: 300px;
	height: 300px;
	position: absolute;
	bottom: calc(0px + 20% + 135px);
}

#queue {
	z-index: 10;
  background: var(--theme-back);
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*#queue::-webkit-scrollbar {
  display: none;
}*/

/* width */
#queue::-webkit-scrollbar {
/*  width: 10px;*/
/*  height: calc(100% - 128px);*/
  border-radius: 8px;
}

/* Track */
#queue::-webkit-scrollbar-track {
  background: none;
}
 
/* Handle */
#queue::-webkit-scrollbar-thumb {
  background: var(--theme-back-pos2);
  border-radius: 8px;
}

#queue::-webkit-scrollbar-corner {
  background: var(--theme-back);
  border-radius: 8px;
}


#queue-fade {
	z-index: 20;
	--color-1: color-mix( in srgb, var(--theme-back) 0%, #00000000 );
	--color-2: color-mix( in srgb, var(--theme-back) 100%, #00000000 );
	background-image: linear-gradient(  to top, var(--color-1) 75%, var(--color-2));
	pointer-events: none;
	opacity: 0.85;
}

.queue-item {
	color: var(--text-color);
	font-family: "Archivo Black";
	margin-left: 15px;
	background: var(--theme-back-pos);
	width: calc(100% - 30px - 10px);
	height: calc(64px - 10px);
	padding: 5px;
	border-radius: 8px;
	margin-top: 15px;
}

.queue-item[current] {
	background: var(--theme-accent1-pos);
}

.queue-item > p {
	margin: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
	margin-left: 5px;
}

.queue-item-author {
	opacity: 0.5;
}

#close-menu-button {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 64px;
    position: absolute;
    top: -16px;
    left: calc(50% - 30px - 32px);
}

.fadeout-common {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.75;
}

#fadeout { z-index: 1000 }

.popup {
	z-index: 1001;
	position: absolute;
	top: 60px;
	left: 60px;
	width: calc(100% - 120px - 30px);
	height: calc(100% - 120px - 30px);
	background: var(--theme-back-pos);
	border-radius: 15px;
	padding: 15px;
	overflow-y: auto;
}

/* width */
.popup::-webkit-scrollbar {
/*  width: 10px;*/
/*  height: calc(100% - 128px);*/
  border-radius: 10px;
}

/* Track */
.popup::-webkit-scrollbar-track {
  background: none;
}
 
/* Handle */
.popup::-webkit-scrollbar-thumb {
  background: var(--theme-accent1-pos); 
  border-radius: 10px;
}

.popup::-webkit-scrollbar-corner {
  background: var(--theme-back-pos2);
  border-radius: 10px;
}

.popout-track-button {
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
	border: none;
	background: var(--theme-accent1-pos);
	border-radius: 15px;
	color: var(--text_color);
	font-weight: bolder;
	font-size: 24px;
	font-family: 'Archivo Black';
}

/* ------------- TRACKS ------------- */

#main[render="items"] {
	display: grid;
	overflow-x: scroll;
	overflow-y: clip;
	grid-template-columns: repeat(var(--item-count), var(--that_height));
	grid-template-rows: var(--that_height);
	/* grid-template-rows: repeat(3, calc((var(--that_height) - 30px) / 3)); */
	gap: 15px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 30px);
}

#main[render="items"] > * {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

/* ------------- FORMS ------------- */
.form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.form-header {
	color: #fff;
	font-family: "Archivo Black";
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 48px;
}

.form-sub-header {
	color: #dcdcdc;
	font-family: "Archivo Black";
	margin-bottom: 15px;
	font-size: 30px;
}

.form-label {
	color: #7c7c7c;
  font-family: 'Archivo Black';
  margin: 0px;
  margin-top: 10px;
  margin-right: 15px;
}

.form-input {
  border: none;
  border-radius: 15px;
  background: #353535;
  color: white;
  width: 100%;
}

.form-confirm {
	font-family: "Archivo Black";
	 width: 100%;
  height: 48px;
	font-size: 30px;
  color: white;
	margin-top: 50px;
  border: none;
  border-radius: 15px;
  background: var(--theme-accent1-pos);
}

/* ------------- SETTINGS ------------- */

#main[page="settings-button"] {
	display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 15px;
  overflow-y: scroll;
}

.settings-header {
	color: #fff;
	font-family: "Archivo Black";
	margin-bottom: 15px;
	font-size: 48px;
}

.settings-sub-header {
	color: #dcdcdc;
	font-family: "Archivo Black";
	margin-bottom: 15px;
	font-size: 30px;
}

.settings-label {
	color: #7c7c7c;
  font-family: 'Archivo Black';
  margin: 0px;
  margin-right: 15px;
}

.settings-div {
  display: flex;
  margin-bottom: 15px;
  width: calc(100% - 30px);
}

.settings-input {
  border: none;
  border-radius: 15px;
  background: #252525;
  color: white;
  width: 100%;
}